.main-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.logo-section {
  display: inline-block;
  width: 38%;
  text-align: center;
}

.logo {
  margin-top: 30vh;
  width: 20%;
}

.title {
  font-family: 'Sen';
  font-weight: 600;
  color: #322218;
  margin: 0;
  font-size: 4vw;
}

.details-section {
  display: flex;
  background-color: #322218;
  width: 62%;
  padding: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.description {
  font-family: 'Raleway';
  color: #dcc6a5;
  font-size: 2rem;
}

.emphasis {
  color: #f0960e;
}

.repo {
  margin-top: 0;
  font-family: sans-serif;
  color: #f0960e;
}

.repo a {
  display: inline-block;
  color: #f0960e;
}

.repo a:hover {
  text-decoration: underline;
}

.button-container {
  text-align: center;
  height: 9rem;
}

.documentation {
  display: inline-block;
  cursor: pointer;
  font-family: 'Sen';
  font-weight: 800;
  font-size: 3rem;
  color: #322218;
  background-color: #f0960e;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 4rem 0;
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: all 0.1s;
}

.documentation:hover {
  font-size: 3.3rem;
  margin: 3.6rem 0;
  padding: 1.2rem 2.3rem;
  animation: shake 0.2s;
  box-shadow: 2px 10px 4px rgba(0, 0, 0, 0.2);
}

.get-it {
  margin: 3rem 0 0 0;
}

.motto {
  font-family: 'Raleway';
  color: #6a4d3b;
  font-size: 2rem;
}
